<?xml version="1.0"?>

<launch>

    <node pkg="tf" type="static_transform_publisher" name="world2map_broadcaster" args="0 0 0 0 0 0 world map 100"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="base2laser_broadcaster" args="0 0 0 0 0 0 base_link laser_link 100"/> -->
<!--<node pkg="tf" type="static_transform_publisher" name="map2base_broadcaster" args="0 0 0 0 0 0 map base_link 100"/> -->
<!--<node pkg="tf" type="static_transform_publisher" name="nav2base_broadcaster" args="0 0 0 0 0 0 nav base_link 100"/> -->


  <!-- RVIZ NODE -->
  <node pkg="rviz" type="rviz" name="rviz" args="slam.rviz"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/CoppeliaSim/cmd_vel"/>
  </node>



</launch>
