<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="higgs2_sim" >

    <!-- To change the control between ros2 or skid, change the next true or false and change
        on launch_sim.lauch.py on line 28 -->

    <!-- <xacro:arg name="use_ros2_control" default="false"/> 
    <xacro:arg name="sim_mode" default="true"/> -->

    <!-- <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control_skid.xacro" />
    </xacro:unless> -->
    <xacro:include filename="$(find higgs2)/src/description/robot_core.xacro" />
    <xacro:include filename="$(find higgs2)/src/description/robot.gazebo" />
    <xacro:include filename="$(find higgs2)/src/description/lidar.xacro" />
    <xacro:include filename="$(find higgs2)/src/description/materials.xacro" />
    
</robot>