<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="higgs2_sim" >

    <xacro:arg name="use_ros2_control" default="true"/> 
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="$(find higgs2)/model/description/ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="$(find higgs2)/model/description/robot.gazebo" />
    </xacro:unless>

    <xacro:include filename="$(find higgs2)/model/description/robot_core.xacro" />
    <xacro:include filename="$(find higgs2)/model/description/lidar.xacro" />
    <xacro:include filename="$(find higgs2)/model/description/camera.xacro" />
    <xacro:include filename="$(find higgs2)/model/description/materials.xacro" />
    
    
</robot>